.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  color: white;
  margin-top: 200px;
}

.contact-header>h2{
  font-size: 5rem;
}


.bball-img {
  height: 90px;
  width: 90px;
  margin-top: 50px
}

.bball-img {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.contact-header span {
  color: rgb(251, 251, 251);
  text-shadow: 0 0 7px rgb(187, 187, 187),
    0 0 10px rgb(166, 166, 166),
    0 0 21px #fff,
    0 0 42px rgb(25, 153, 195),
    0 0 82px rgb(25, 153, 195),
    0 0 92px rgb(25, 153, 195),
    0 0 102px rgb(25, 153, 195),
    0 0 151px rgb(25, 153, 195);

}

.contact-form{
  width: 40%;
  background-color: #555;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 50px ;
}

.top-half{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 80%;
  margin: 30px auto;
}

.contact-form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.contact-form input{
  width: 95%;
  height: 35px;
  padding-left: 10px;
}

.contact-form textarea {
  width: 95%;
  height: 150px;
  margin-top: 5px;
  padding-left: 10;
}

.submit{
  background-color: rgb(64, 207, 255);
  color: black;
  box-shadow: 0 0 30px rgba(64, 207, 255, 0.5);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  border-radius: 40px;
  border: none;
  margin-top: 30px;
}

.submit:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgba(64, 207, 255, 1);
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2rem;
  transition: transform 0.5s ease-in-out;
}

.btn {
  padding: 1rem 2rem;
}

.contact-details:hover {
  font-size: 2.8rem;
  transform: translateY(-8px);
  color: rgb(210, 249, 250);
}

.copy-info {
  display: none;
  flex-direction: column;
  width: 250px;
  height: 70px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 45px;
}

.copy-info>h4 {
  justify-self: center;
}

.copy-info2 {
  display: none;
  flex-direction: column;
  width: 250px;
  height: 70px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 45px;
}

.copy-info2>h4 {
  justify-self: center;
}

.fa-copy {
  font-size: 1.5rem;
  text-align: end;
  padding: 7px 7px 0 0;
  color: black;

}

.fa-copy:hover {
  cursor: pointer;
  color: blue;

}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: -27%;
  font-size: 1.7rem;
  font-family: 'Nunito Sans', sans-serif;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.hide {
  opacity: 0;
  filter: blur(12px);
  transform: translateX(-100%);
  transition: all 1.3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .contact-header>h2 {
    font-size: 4rem;
  }

  .contact-header>span{
    font-size: 4rem;
  }
  
}

@media screen and (min-width:320px) and (max-width:520px){
  .contact-form textarea{
    height: 70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1400px){


.contact-form{
  width: 95%;
  max-width: 562px;
}
  
}