#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    /* width: 80%; */
    height: auto;
    margin-top: 65px;
    border-radius: 20px ;
    background-color: rgba(40, 40, 40, 0.7);
    padding: 2rem;
  }
  
  #skills h2 {
    color: rgb(251, 251, 251);
    /* text-shadow: 0 0 7px rgb(187, 187, 187),
      0 0 10px rgb(166, 166, 166),
      0 0 21px #fff,
      0 0 42px rgb(25, 153, 195),
      0 0 82px rgb(25, 153, 195),
      0 0 92px rgb(25, 153, 195),
      0 0 102px rgb(25, 153, 195),
      0 0 151px rgb(25, 153, 195); */
    /* text-decoration: underline; */
    /* border-bottom: 3px solid rgb(64, 207, 255); */
    font-size: 4rem;
    margin-top: 30px;
    text-align: center;
    padding-bottom:0px;
  }
  
  #skills h2:after {
  content: '';
  display: block;
  width: 60px;
  border-bottom: 3px solid rgb(64, 207, 255);
  margin: 0 auto;
  }
  
  .btm-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content:  center;
    height: auto;
    width: 60%;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 70px;
  }
  
  .tech {
    font-size: 3rem;
    margin-left: 7px;
  }
  
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 70px;
    width: 80%;
    /* overflow-x: auto; */
    /* height: 350px; */
    /* border: 1px solid white; */
    border-radius: 10px;
  /* background-color: #555; */
  position: relative;
  /* overflow: hidden; */
  }
  
  /* .stack-wrapper{
    position:relative;
    overflow: hidden;
    width: 100%;
    max-width: 80%;
    white-space: nowrap;
    padding: 0 20px;
    padding: 1rem 2rem;
  }
   */
  /* .stack-wrapper::before,
  .stack-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2rem;
    pointer-events: none;
    z-index: 10;
    backdrop-filter: blur(30px); 
  }
  
  .stack-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
  }
  
  .stack-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(51, 51, 51, 1), rgba(51, 51, 51, 0));
  } */
  
  .stack-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   /* overflow-x: scroll; */
    /* width: max-content; */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto; /* Center align the container */
  justify-items: center;
  border-radius: 10px;
  gap: 2.5rem;
  padding: 1rem;
  /* white-space: nowrap; */
  }
  
  
  .skills-container > h3 {
    margin: 30px auto;
    font-size: 2.5rem;
    color: rgb(64, 207, 255);
  
  }
  
  .stack-portion {
    /* flex: 0 0 auto; */
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    width: 170px;
    /* border: 1px solid white; */
    border-radius: 5px;
    /* background-color: #ddd; */
    padding: 7px;
    font-size: 24px;
    /* box-shadow: 4px 4px 8px rgba(64, 207, 255, 0.6); */
  }
  
  .stack-portion p {
    padding: 0 10px 0 0;
  }
  
  .bootcamp-container {
    margin: 50px auto;
    width: 60%;
    height: auto;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 150px;
  }
  
  .bootcamp-container>h3{
    color: rgb(64, 207, 255) ;
  }
  
.bootcamp-container>ul {
  list-style: inside;
}

  .more-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .info-img {
    width: 50%;
    height: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-img img {
    width: 78%;
    height: 490px;
    border-radius: 5px;
  }
  
  .info-p {
    width: 50%;
  }

  .main-p{
    margin-bottom: 50px;
  }
  
  .freecode-camp {
    text-decoration: underline;
  }

  @media screen and (min-width: 320px) and (max-width:599px){
    .btm-skills {
      background-color: transparent;

    }

    .stack-container{
      grid-template-columns: 1fr;
      align-items: center;
    }
  }

  @media screen and (min-width: 600px) and (max-width:1320px){

    .stack-container{
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    
  }

  @media (max-width: 910px) {

    #skills {
      margin-top: 160px;
    }
  
    .top-skills {
      flex-direction: column;
    }
  
    .skills-container {
      padding-bottom: 1rem;
    }
  
    .tech {
      font-size: 2rem;
    }
  
    .bootcamp-container {
      width: 250px;
      margin: 5rem 1rem;
      padding-bottom: 1rem;
    }
  
    .more-info {
      flex-direction: column;
    }
  
    .info-img {
      width: 100%;
  
    }
  
    .info-img img {
      height: auto;
    }
  
    .info-p {
      width: 100%;
      padding: 3rem 0 0 1rem;
  
    }

    .btm-skills {
      width: 90%;
    }

    .skills-container{ 
      margin-bottom: 0;
    }

  
  }

  @media screen and (max-width:1400px){

    .info-p{
      font-size: 1.2rem;

    }
    
  }