.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .hide {
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-100%);
    transition: all 1.3s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 40%;
    padding-left: 20px;
  }
  
  .text-container>h1{
    font-size: 6rem;
    line-height: 1;
  }
  
.name{
  color: rgb(64, 207, 255);
  text-shadow: 0 0 40px rgba(64, 207, 255, 0.5);


}

  .text-container>svg{
    position: absolute;
    width: 400px;
    top:10px;
    right: 10px;
    z-index: -10;
  }

  .welcome-p {
    font-size: 2rem;
    font-weight: 200;
    font-style: oblique;
  }
  
  p {
    display: block;
  }

  
  .btns{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
  }
  
  .hire{
    margin-top: 35px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem 2.2rem;
    border-radius: 40px;
    border: none;
    background-color: rgb(64, 207, 255);
    color: black;
    position: relative;
  box-shadow: 0 0 30px rgba(64, 207, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  }

  .hire::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(64, 207, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  
.hire:hover::before {
  opacity: 1;
}


  .hire:hover{
    cursor: pointer;
    box-shadow: 0 0 30px rgba(64, 207, 255, 1);
  }
  
  .cv {
    margin-top: 35px;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    border-radius: 40px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
  }
  
  .cv:hover {
    background-color: rgba(83, 83, 83, 0.7);
    cursor: pointer;
  }

  .btns2{
    display: flex;
    flex-direction: row;
    margin-right: 125px;
    margin-top: 30px;

  }
  
  .linked {
    border: 1px white solid;
    padding: 0.7rem 1rem;
    font-size: 1.4rem;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
  }

  .linked:hover{
    background-color: rgba(83, 83, 83, 0.7);
    cursor: pointer;
  }

  .git {
    margin-left: 35px;
    border: 1px white solid;
    padding: 0.7rem 1rem;
    font-size: 1.4rem;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
  }
  
  .git:hover{
    background-color: rgba(83, 83, 83, 0.7);
    cursor: pointer;
  }
  
  .img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
  }
  
  .profile-img {
    width: 350px;
    height: 350px;

    border-radius: 50%;
    margin-top: 0px;
    animation-name: profile-img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 20;
  }
  
  @keyframes profile-img {
    0% {
      transform: translate(0, 0px);
    }
  
    50% {
      transform: translate(0, 18px);
    }
  
    100% {
      transform: translate(0, -0px);
    }
  }
  
  .rocket {
    width: 80px;
    position: absolute;
    right: 300px;
    top: 490px;
    transform: scaleX(-1);
  }
  
  .img-2{
    width: 50px;
    position: absolute;
    right: 445px;
    top: 241px;
  }
  
  .space-img{
    width: 180px;
    position: absolute;
    left: 250px;
    top: 560px;
    z-index: -1;
  }
  
  .hand-img {
    width: 400px;
    height: 300px;
    margin-top: 10px;
    border-radius: 18%;
    box-shadow: 0 0 20px 200px #000 inset;
  }

  @media screen and (min-width: 320px) and (max-width: 510px) {
    .text-container>h1{
      font-size: 4.5rem;
    }

    .text-container>p{
      font-size: 1.2rem;
    }
    
  }

  @media  screen and (min-width: 751px) and (max-width: 1149px){
    .welcome-section {
      padding-top: 17px;
    }
  }
  
  @media (max-width: 1150px) {
    .welcome-section {
      flex-direction: column-reverse;
      text-align: center;
      height: auto;
    }
  

    .text-container{
      width: 70%;
      margin-top: 50px;
      align-items: center;
      padding-left: 0;
    }
  

    .btns {
      margin-right: 0px;
    }

    .hire{
    white-space: nowrap;

    }

    .cv {
      white-space: nowrap;
    }

    .btns2 {
      margin-right: 0px;
    }

    .img-container {
      align-items: center;
      justify-content: center;
      margin-top: 75px;
    }
  
    .profile-img {
      width: 200px;
      height: 200px;
      margin-top: 0;
    }

  }