.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}


.projects-section>h2 {
  margin: 40px auto 100px auto;
  color: rgb(251, 251, 251);
  font-size: 4rem;
}

.projects-section>h2:after {
  content: '';
display: block;
width: 60px;
border-bottom: 3px solid rgb(64, 207, 255);
margin: 0 auto;
}


.cover{
display: flex;
flex-direction: row;
background-color: rgba(0, 0, 0, 0.7);
margin: 20px auto;
padding: 40px;
width: 100%;
height: auto;
border-radius: 15px;
border: 1px solid gray;
}

.left-side{
  width: 50%;
}

.project {
  justify-self: center;
  border-radius: 10px;
}

.right-side{
  position: relative;
  width: 50%;

}

.project-title{
  font-weight: 900;
  margin-bottom: 30px;
  color: rgb(64, 207, 255);
  text-shadow: 0 0 40px rgba(64, 207, 255, 0.5);
}

.project-info {
  width: 100%;
  font-size: 1.4rem;
}

.live {
  background-color: rgb(64, 207, 255);
  color: black;
  box-shadow: 0 0 30px rgba(64, 207, 255, 0.5);

  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  border-radius: 40px;
  border: none;
  margin-top: 50px;
  margin-right: 15px;
}



.live:hover{
  cursor: pointer;
  box-shadow: 0 0 30px rgba(64, 207, 255, 1);
}



.code{
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  border-radius: 40px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
}

.code:hover {
  background-color: rgba(83, 83, 83, 0.7);
  cursor: pointer;
}

button.live, button.code {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button.live svg, button.code svg {
  margin-left: 12px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}


.project-img {
  width: 450px;
  height: 350px;
  max-width: 100%;
  opacity: 1;
  border-radius: 15px;
}

.project-img:hover {
  filter: brightness(.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}



.project>p {
  margin-top: 0;
  padding: 10px 0 10px 0;
}



@media screen and (min-width: 320px) and (max-width: 600px){
  .project-img{
    width: auto;
    height: 175px;
  }
  
}

@media screen and (max-width: 700px){

  .project-title {
    font-size: 1.5rem;
  }

  .project-info{
    max-width: 514px;
    font-size: 0.9rem;
  }
  
  .live{
  padding: 0.5rem 1.3rem;
  }

  .code{
  padding: 0.5rem 1.6rem;

  }
}

@media screen and (min-width: 320px) and (max-width: 1300px){

  .cover{
    flex-direction: column;
    padding: 25px;
  }

  .left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .project-img{
    width: auto;
    /* height: 100%; */
  }

  .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .project-title{
    text-align: center;
    padding-top: 10px;
  }

  .project-info{
    max-width: 700px;
    /* font-size: 1.1rem; */
  }
  
  .live{
    margin-bottom: 20px;
    margin-right: 0;
    width: 126px;
  }
  
}
  
  
  
 